.list {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 20px;
  padding: 20px;
}
.listItem {
  width: calc((100% - 20px) / 3);
}
.itemLink {
  padding: 5px 20px;
}
.itemLink:hover {
  background-color: rgba(255, 61, 61, 0.33);
}
